@font-face {font-family: "Avenir";
  src: url("http://db.onlinewebfonts.com/t/4e9313daa40f00420d401dde61955e79.eot");
  src: url("http://db.onlinewebfonts.com/t/4e9313daa40f00420d401dde61955e79.eot?#iefix") format("embedded-opentype"),
  url("http://db.onlinewebfonts.com/t/4e9313daa40f00420d401dde61955e79.woff2") format("woff2"),
  url("http://db.onlinewebfonts.com/t/4e9313daa40f00420d401dde61955e79.woff") format("woff"),
  url("http://db.onlinewebfonts.com/t/4e9313daa40f00420d401dde61955e79.ttf") format("truetype"),
  url("http://db.onlinewebfonts.com/t/4e9313daa40f00420d401dde61955e79.svg#AvenirNextRoundedW01-It") format("svg");
}
body {
	font-family: 'Avenir';
	padding: 20px;
}
nav {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	}
.normal {
	height: 50px;
}
.wide {
  height: auto;
  width: 80%;
  margin: 20px 10%;
}
